<div class="scale-row" [class.sub]="depth > 0" [ngStyle]="indentStyle" [formGroup]="group">
  <span class="scale-abbr">{{ abbr }}</span>
  <span class="scale-label">{{ label }}</span>
  <div class="inputs">
    <div class="field">
      <input
        type="number"
        formControlName="pd"
        class="num-input"
        [class.invalid]="isInvalid('pd')"
        aria-label="PD"
      />
      <span class="input-tag">PD</span>
    </div>
    <div class="field">
      <input
        type="number"
        formControlName="pc"
        class="num-input"
        [class.invalid]="isInvalid('pc')"
        aria-label="Pc"
      />
      <span class="input-tag">Pc</span>
    </div>
  </div>
</div>
